{
  "env": {
    "development": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "last 2 Chrome versions"
              ],
              "node": "current"
            },
            "useBuiltIns": true,
            "loose": true
          }
        ]
      ],
      "plugins": [
        "transform-inline-environment-variables",
        "external-helpers",
        "syntax-jsx",
        [
          "transform-react-jsx",
          {
            "useBuiltIns": true
          }
        ],
        [
          "transform-class-properties",
          {
            "loose": true
          }
        ],
        [
          "csjs-postcss",
          {
            "plugins": [
              [
                "autoprefixer",
                {
                  "browsers": [
                    "> 2%"
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "> 15% in BR"
              ],
              "node": "7"
            },
            "useBuiltIns": true,
            "loose": true
          }
        ]
      ],
      "plugins": [
        "transform-inline-environment-variables",
        "external-helpers",
        "syntax-jsx",
        [
          "transform-react-jsx",
          {
            "useBuiltIns": true
          }
        ],
        "transform-react-inline-elements",
        "transform-react-constant-elements",
        [
          "transform-class-properties",
          {
            "loose": true
          }
        ],
        [
          "csjs-postcss",
          {
            "plugins": [
              [
                "autoprefixer",
                {
                  "browsers": [
                    "> 15%"
                  ]
                }
              ]
            ]
          }
        ]
      ]
    }
  }
}