{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    [
      "csjs-postcss",
      {
        "plugins": [
          [
            "autoprefixer",
            {
              "browsers": [
                "> 2%"
              ]
            }
          ]
        ]
      }
    ]
  ]
}
