{
  "extends": ["standard", "standard-react"],
  "globals": {
    "ReactIntl": true
  },
  "rules": {
    "valid-jsdoc": 2,
    "no-console": 2,
    "no-debugger": 2,
    "prefer-const": 2,
    "arrow-parens": 0,
    "camelcase": 0,
    "react/jsx-space-before-closing": 0,
    "react/no-unused-prop-types": 0
  }
}
